<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>

<div class="d-flex justify-content-between align-items-center p-3 px-md-5 mb-5 border-bottom shadow-sm">
    <a class="btn btn-outline-primary" href="{{ url_for('home') }}">URLer</a>
    <a class="text-dark" href="{{ url_for('session_api') }}">API</a>
</div>


{% block main %}{% endblock %}


{% if codes %}
    <div class="container mt-5">
        <h4>Personal History</h4>
        {% for code in codes %}
            <a class="btn btn-light text-muted my-3 mr-4" href="{{ code }}">{{ code }}</a>
        {% endfor %}
    </div>
{% endif %}


<script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script>
    $('#file').on('change', function () {
        let fileName = $(this).val().replace("C:\\fakepath\\", "");
        $('.custom-file-label').html(fileName);
    })
</script>

</body>
</html>
