{%  extends 'base.html' %}

{% block title %}urler{% endblock %}

{% block main %}
<h1>URLer</h1>
<i>by {{ name }}</i>

{% for m in get_flashed_messages() %}
    {{ m }}
{% endfor %}

<form action="short" method="post">

    <label
    <label for="url">URL
        <input type="url" name="url" value="" required>
    </label>

    <br>

    <label for="code">Code
        <input type="code" name="code" value="" required>
    </label>

    <br>

    <input type="submit" value="Shorten">

</form>

<form action="short" method="post" enctype="multipart/form-data">

    <label
    <label for="file">file
        <input type="file" name="file" value="" required>
    </label>

    <br>

    <label for="code">Code
        <input type="code" name="code" value="" required>
    </label>

    <br>

    <input type="submit" value="Shorten">

</form>

{% if codes %}
    <h2>History</h2>
    <ul>
    {% for c in codes %}
        <li><a href= {{ c }}>{{ c }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}